{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
    <li><a href="{% url 'article_add' %}">Add Article</a></li>
{% endblock%}
{% block content %}
<h1>My First Blog!</h1>
    {% for article in articles %}
        <h3>{{ article.pk }}. {{ article.title }}</h3>
        <p>статус: ({{ article.status }} | {{ article.get_status_display }})</p>
        <p>{{ article.author }} | {{ article.created_at|date:'d-m-Y H:i'  }} | Дата публикации: {{ article.publish_at|date:'d-m-Y H:i' }}</p>
        <p>{{ article.text }}</p>
        <p><a href="{% url 'article' article.pk %}">Подробнее...</a></p>
        <p><a href="{% url 'article_update' article.pk %}">Update</a></p>
        <p><a href="{% url 'article_delete' article.pk %}">Delete</a></p>
        <hr>
    {% endfor %}
{% endblock %}